$max-orbit-size: 128px;
$main-size: 64px;
$main-orbit-size: 16px;
$satellite-size: 32px;
$satellite-orbit-size: 128px;

@keyframes main-orbit {
  from {
    transform: translate3d(($max-orbit-size - $main-size - $main-orbit-size) / 2, -50%, 0);
  }
  to {
    transform: translate3d(($max-orbit-size - $main-size + $main-orbit-size) / 2, -50%, 0);
  }
}

@keyframes satellite-orbit {
  from {
    transform: translate3d(($max-orbit-size - $satellite-size - $satellite-orbit-size) / 2, -50%, 0);
  }
  to {
    transform: translate3d(($max-orbit-size - $satellite-size + $satellite-orbit-size) / 2, -50%, 0);
  }
}

.constructing-animation {
  width: $max-orbit-size;
  height: $main-size;
  position: relative;

  .main-object {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 0;
    transition: transform;
    animation: main-orbit infinite 0.8s alternate-reverse ease-in-out;
  }

  .satellite-object {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 0;
    transition: transform;
    animation: satellite-orbit infinite 0.8s 0.8s alternate-reverse ease-in-out;
  }
}
