@import "./src/styles/mixins/media-mixins";
@import "./src/styles/colors";

.animation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {
  position: absolute;
  top: calc(50% + 50px);
  left: 50%;
}

.source-code {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $background--light;
  position: absolute;
  bottom: 32px;
  right: 32px;

  @include media($mobile) {
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
  }
}
